---
import CardExperience from "../ui/CardExperience.astro"

import { homePage } from "@/const/home"

const { title } = homePage.experienceSection
---

<section id="experience-section">
	<h1 set:html={title} />
	<div class="container-experience">
		{
			homePage.experiences.map(({ title, company, date, description }) => (
				<CardExperience
					title={title}
					company={company}
					date={date}
					description={description}
				/>
			))
		}
	</div>
</section>

<style>
	#experience-section {
		text-align: center;
		margin-top: var(--p-60);
		h1 {
			margin-bottom: var(--p-60);

			span {
				font-weight: bold;
				color: transparent;
				-webkit-text-stroke: 1px var(--color-zinc-100);
				text-stroke: 1px var(--color-zinc-100);
			}
		}
		.container-experience {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1rem;
		}
	}
</style>

<script>
	import animationAppear from "@/libs/utils"

	document.addEventListener("astro:page-load", () => {
		animationAppear("#experience-section")
	})
</script>
