---
import CardExperience from "../ui/CardExperience.astro"

const experienceSection = {
    title: "My <span>Experience</span>",
}
const { title } = experienceSection

const experiences = [
    {
        title: "Desarrollador OWCS",
        company: "Viewnext S.A",
        date: "Agosto 2021 - Febrero 2023",
        description:
            "Realización de proyectos y evolutivos Frontend dentro del CMS Oracle Web Center Site (OWCS) para el cliente Naturgy. ",
    },
    {
        title: "Desarrollador Full Stack",
        company: "Viewnext S.A",
        date: "Febero 2023 - Actualidad",
        description:
            "Relización de proyectos y evolutivos Full para el cliente Naturgy. Todo esto hacienco uso de Spring Framework para el Backend y OWCS como CMS.",
    },
    {
        title: "I + D",
        company: "eCapure3D S.L",
        date: "Abril 2021 - Junio 2021",
        description:
            "Algoritmos predictivos y análisis de datos dentro el modelo 3D.",
    },
]
---

<section id="experience-section">
    <h1 set:html={title} />
    <div class="container-experience">
        {
            experiences.map(({ title, company, date, description }) => (
                <CardExperience
                    title={title}
                    company={company}
                    date={date}
                    description={description}
                />
            ))
        }
    </div>
</section>

<style>
    #experience-section {
        text-align: center;
        margin-top: var(--p-60);
        h1 {
            margin-bottom: var(--p-60);

            span {
                font-weight: bold;
                color: transparent;
                -webkit-text-stroke: 1px var(--color-zinc-100);
                text-stroke: 1px var(--color-zinc-100);
            }
        }
        .container-experience {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
</style>

<script>
	import { animationAppearElements } from "@/libs/utils.ts"

	document.addEventListener("astro:page-load", () => {
			animationAppearElements(".card")
		}
	)
</script>
