---
const experienceSection = {
    title: "My <span>Experience</span>",
};
const { title } = experienceSection;

const experiences = [
    {
        title: "Desarrollador OWCS",
        company: "Viewnext S.A",
        date: "Agosto 2021 - Febrero 2023",
        description:
            "Realización de proyectos y evolutivos Frontend dentro del CMS Oracle Web Center Site (OWCS) para el cliente Naturgy. Además de la realización de tareas de mantenimientos y soporte básicas en el propio CMS.",
    },
    {
        title: "Desarrollador Full Stack",
        company: "Viewnext S.A",
        date: "Febero 2023 - Actualidad",
        description:
            "Relización de proyectos y evolutivos Full para el cliente Naturgy. Todo esto hacienco uso de Spring Framework para el Backend y OWCS como CMS.",
    },
    {
        title: "I + D",
        company: "eCapure3D S.L",
        date: "Abril 2021 - Junio 2021",
        description:
            "Algoritmos predictivos y análisis de datos dentro el modelo 3D.",
    },
];
---

<section id="experience-section">
    <h1 set:html={title} />
    <div class="container-experience">
        {
            experiences.map(({ title, company, date, description }) => (
                <div class="card">
                    <h3>{title}</h3>
                    <p>{company}</p>
                    <p>{date}</p>
                    <p class="description">{description}</p>
                </div>
            ))
        }
    </div>
</section>

<style>
    #experience-section {
        text-align: center;
        margin-top: var(--p-60);
        h1 {
            margin-bottom: var(--p-60);

            span {
                font-weight: bold;
                color: transparent;
                -webkit-text-stroke: 1px var(--color-zinc-100);
                text-stroke: 1px var(--color-zinc-100);
            }
        }
        .container-experience {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1rem;
            .card {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;

                border: 1px solid var(--color-zinc-100);
                color: var(--color-zinc-100);
                width: 300px;
                height: 300px;
                padding: 1rem;
                .description {
                    margin-top: var(--p-20);
                    text-align: start;
                    color: var(--color-zinc-600);
                }
            }
        }
    }
</style>
